<launch>
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />
  
  <node pkg="kinfu" type="kinfu" name="kinect_kinfu1" output="screen">
    <param name="prefix_topic" value="/kinect2" />
    <param name="camera_info_topic" value="/kinect2/sd/camera_info" />
    <param name="depth_image_topic" value="/kinect2/sd/image_depth_rect" />
    <param name="autostart" value="true" />
    <param name="response_topic" value="/kinfu_response_topic" />
    <param name="request_topic" value="/kinfu_request_topic" />
    <param name="extract_known_points" value="false" />

    <param name="depth_height" type="int" value="424" />
    <param name="depth_width" type="int" value="512" />
  </node>

</launch>
